@model MVCProject.ViewModels.StudiebezoekViewModels.StudiebezoekDetailsViewModel

@{
    ViewData["Title"] = "Verwijderen Studiebezoek";
}

<h1>Verwijder studiebezoek</h1>

<h3>Ben je zeker dat je wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="row">

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Aanvrager)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Aanvrager.VolledigeNaam)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Vak)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Vak.Naam)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Datum)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Datum)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.StartUur)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.StartUur)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EindUur)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EindUur)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Reden)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Reden)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AantalStudenten)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AantalStudenten)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.KostprijsStudiebezoek)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.KostprijsStudiebezoek)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Vervoer)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Vervoer)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.KostprijsVervoer)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.KostprijsVervoer)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AfwezigeStudenten)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AfwezigeStudenten)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Opmerkingen)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Opmerkingen)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.GoedgekeurdCo)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.GoedgekeurdCo)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.GoedgekeurdDir)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.GoedgekeurdDir)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Afgewezen)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Afgewezen)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OpmerkingAfgewezen)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OpmerkingAfgewezen)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Afgewerkt)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Afgewerkt)
        </dd>



        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Begeleiders)
        </dt>
        <dd class="col-sm-8">
            @foreach (var begeleider in Model.Begeleiders)
            {
                <p>@begeleider.VolledigeNaam</p>
            }
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Klassen)
        </dt>
        <dd class="col-sm-8">
            @foreach (var klas in Model.Klassen)
            {
                <p>@klas.Naam</p>
            }
        </dd>

    </dl>

    @if (Model.Bijlages.Any())
    {
        <h3>Bijlagen</h3>
        <ul>
            @foreach (var bijlage in Model.Bijlages)
            {
                <li>
                    <a href="@Url.Content($"~/bijlagen/{bijlage.Foldernaam}/{bijlage.EchteBestandsNaam}")" target="_blank">@bijlage.EchteBestandsNaam</a>
                </li>
            }
        </ul>
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-refuse" />
    </form>
</div>
