@model IEnumerable<MVCProject.Models.Navorming>

@{
    ViewData["Title"] = "Persoonlijk Archief";
}

<h1 class="display-5 mt-4">Mijn afgelopen navormingen</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartUur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EindUur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kostprijs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aanvrager)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartUur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EindUur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kostprijs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aanvrager.VolledigeNaam)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
                        </svg>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
